:root {
  --primary-color: #2980b9;
  --primary-color-dark: #2677ac;
  --primary-color-light: #2c89c6;
  --secondary-color: #b3d7ee;
  --secondary-color-dark: #a7d0eb;
  --secondary-color-light: #c0ddf1;
  --primary-color-dark-d2: #2472a4;
  --primary-color-dark-d4: #236c9c;
  --primary-color-dark-d5: #226998;
  --primary-color-dark-d7: #20638f;
  --dark-color: #363a3d;
  --light-color: #fff;
  --gray-color: #c2c6c9;
  --gray-color-dark: #727a81;
  --gray-color-light: #f8f9f9;
  --gray-color-dark-d10: #5a6166;
  --border-color: #dde0e1;
  --border-color-dark: #c2c6c9;
  --border-color-light: #f3f4f4;
  --bg-color: #f8f9f9;
  --bg-color-dark: #f0f1f2;
  --bg-color-light: #fff;
  --success-color: #27ae60;
  --warning-color: #f39c12;
  --error-color: #e74c3c;
  --success-color-d2: #25a65b;
  --success-color-d3: #24a259;
  --success-color-d5: #229955;
  --success-color-d7: #209150;
  --success-color-d10: #1e8449;
  --success-color-l53: black;
  --warning-color-d2: #ef970c;
  --warning-color-d3: #ea940c;
  --warning-color-d5: #e08e0b;
  --warning-color-d7: #d6880b;
  --warning-color-d10: #c87f0a;
  --warning-color-l53: black;
  --error-color-d2: #e64433;
  --error-color-d3: #e53f2e;
  --error-color-d5: #e43725;
  --error-color-d7: #e32f1c;
  --error-color-d10: #d62c1a;
  --error-color-l53: #120402;
  --code-color: #16a085;
  --highlight-color: #ffe9b3;
  --body-bg: #fff;
  --body-font-color: #42474b;
  --link-color: #2980b9;
  --link-color-dark: #20638f;
  --link-color-light: #409ad5;
  --code-color-l42: #9df2e1;
  --highlight-color-d15: #ffd367;
  --body-font-color-l5: #4e5458; }
