.navbar {
    padding: 1rem 0;
    .hidden {
        display: none;
    }
}
b {
    color: #3b4351;
}
.body-toast {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.toast-action {
    margin-right: 1rem;
}
.card-hidden {
    display: none;
    margin-top: 1rem;
    &.active {
        display: block;
    }
}
.card-top-padding {
    margin-top: 1rem;
}
