@media (prefers-color-scheme: no-preference) {
  :root {
    --primary-color: #2980b9;
    --primary-color-dark: #2677ac;
    --primary-color-light: #2c89c6;
    --secondary-color: #b3d7ee;
    --secondary-color-dark: #a7d0eb;
    --secondary-color-light: #c0ddf1;
    --primary-color-dark-d2: #2472a4;
    --primary-color-dark-d4: #236c9c;
    --primary-color-dark-d5: #226998;
    --primary-color-dark-d7: #20638f;
    --dark-color: #363a3d;
    --light-color: #fff;
    --gray-color: #c2c6c9;
    --gray-color-dark: #727a81;
    --gray-color-light: #f8f9f9;
    --gray-color-dark-d10: #5a6166;
    --border-color: #dde0e1;
    --border-color-dark: #c2c6c9;
    --border-color-light: #f3f4f4;
    --bg-color: #f8f9f9;
    --bg-color-dark: #f0f1f2;
    --bg-color-light: #fff;
    --success-color: #27ae60;
    --warning-color: #f39c12;
    --error-color: #e74c3c;
    --success-color-d2: #25a65b;
    --success-color-d3: #24a259;
    --success-color-d5: #229955;
    --success-color-d7: #209150;
    --success-color-d10: #1e8449;
    --success-color-l53: black;
    --warning-color-d2: #ef970c;
    --warning-color-d3: #ea940c;
    --warning-color-d5: #e08e0b;
    --warning-color-d7: #d6880b;
    --warning-color-d10: #c87f0a;
    --warning-color-l53: black;
    --error-color-d2: #e64433;
    --error-color-d3: #e53f2e;
    --error-color-d5: #e43725;
    --error-color-d7: #e32f1c;
    --error-color-d10: #d62c1a;
    --error-color-l53: #120402;
    --code-color: #16a085;
    --highlight-color: #ffe9b3;
    --body-bg: #fff;
    --body-font-color: #42474b;
    --link-color: #2980b9;
    --link-color-dark: #20638f;
    --link-color-light: #409ad5;
    --code-color-l42: #9df2e1;
    --highlight-color-d15: #ffd367;
    --body-font-color-l5: #4e5458; } }

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #2980b9;
    --primary-color-dark: #2c89c6;
    --primary-color-light: #2677ac;
    --secondary-color: #06141c;
    --secondary-color-dark: #091c29;
    --secondary-color-light: #040b10;
    --primary-color-dark-d2: #2e8ece;
    --primary-color-dark-d4: #3493d2;
    --primary-color-dark-d5: #3896d3;
    --primary-color-dark-d7: #409ad5;
    --dark-color: #fff;
    --light-color: #363a3d;
    --gray-color: #737373;
    --gray-color-dark: #bfbfbf;
    --gray-color-light: #404040;
    --gray-color-dark-d10: #d9d9d9;
    --border-color: #595959;
    --border-color-dark: #737373;
    --border-color-light: #454545;
    --bg-color: #404040;
    --bg-color-dark: #474747;
    --bg-color-light: #363a3d;
    --success-color: #27ae60;
    --warning-color: #f39c12;
    --error-color: #e74c3c;
    --success-color-d2: #29b665;
    --success-color-d3: #2aba67;
    --success-color-d5: #2cc36b;
    --success-color-d7: #2ecb70;
    --success-color-d10: #36d278;
    --success-color-l53: #e9faf0;
    --warning-color-d2: #f3a01c;
    --warning-color-d3: #f4a221;
    --warning-color-d5: #f4a62a;
    --warning-color-d7: #f5aa34;
    --warning-color-d10: #f5b043;
    --warning-color-l53: white;
    --error-color-d2: #e85445;
    --error-color-d3: #e9594a;
    --error-color-d5: #ea6153;
    --error-color-d7: #eb695c;
    --error-color-d10: #ed7669;
    --error-color-l53: white;
    --code-color: #16a085;
    --highlight-color: #ffe9b3;
    --body-bg: #363a3d;
    --body-font-color: #f2f2f2;
    --link-color: #2980b9;
    --link-color-dark: #409ad5;
    --link-color-light: #20638f;
    --code-color-l42: black;
    --highlight-color-d15: white;
    --body-font-color-l5: #e6e6e6; } }

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #2980b9;
    --primary-color-dark: #2677ac;
    --primary-color-light: #2c89c6;
    --secondary-color: #b3d7ee;
    --secondary-color-dark: #a7d0eb;
    --secondary-color-light: #c0ddf1;
    --primary-color-dark-d2: #2472a4;
    --primary-color-dark-d4: #236c9c;
    --primary-color-dark-d5: #226998;
    --primary-color-dark-d7: #20638f;
    --dark-color: #363a3d;
    --light-color: #fff;
    --gray-color: #c2c6c9;
    --gray-color-dark: #727a81;
    --gray-color-light: #f8f9f9;
    --gray-color-dark-d10: #5a6166;
    --border-color: #dde0e1;
    --border-color-dark: #c2c6c9;
    --border-color-light: #f3f4f4;
    --bg-color: #f8f9f9;
    --bg-color-dark: #f0f1f2;
    --bg-color-light: #fff;
    --success-color: #27ae60;
    --warning-color: #f39c12;
    --error-color: #e74c3c;
    --success-color-d2: #25a65b;
    --success-color-d3: #24a259;
    --success-color-d5: #229955;
    --success-color-d7: #209150;
    --success-color-d10: #1e8449;
    --success-color-l53: black;
    --warning-color-d2: #ef970c;
    --warning-color-d3: #ea940c;
    --warning-color-d5: #e08e0b;
    --warning-color-d7: #d6880b;
    --warning-color-d10: #c87f0a;
    --warning-color-l53: black;
    --error-color-d2: #e64433;
    --error-color-d3: #e53f2e;
    --error-color-d5: #e43725;
    --error-color-d7: #e32f1c;
    --error-color-d10: #d62c1a;
    --error-color-l53: #120402;
    --code-color: #16a085;
    --highlight-color: #ffe9b3;
    --body-bg: #fff;
    --body-font-color: #42474b;
    --link-color: #2980b9;
    --link-color-dark: #20638f;
    --link-color-light: #409ad5;
    --code-color-l42: #9df2e1;
    --highlight-color-d15: #ffd367;
    --body-font-color-l5: #4e5458; } }
