.navbar {
  padding: 1rem 0; }
  .navbar .hidden {
    display: none; }

b {
  color: #3b4351; }

.body-toast {
  position: fixed;
  bottom: 0;
  width: 100%; }

.toast-action {
  margin-right: 1rem; }

.card-hidden {
  display: none;
  margin-top: 1rem; }
  .card-hidden.active {
    display: block; }

.card-top-padding {
  margin-top: 1rem; }

#main-diagram {
  height: 12rem; }

.diagram-tooltip {
  position: absolute;
  width: 18rem;
  margin-top: -3.5rem;
  background-color: var(--body-bg);
  border: solid 1px var(--border-color);
  border-radius: .1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 0.6rem;
  padding-top: 1rem;
  display: none; }
  .diagram-tooltip.active {
    display: block; }
  .diagram-tooltip.left {
    margin-left: 0.15rem; }
  .diagram-tooltip.right {
    margin-left: -18.15rem; }
