:root {
  --primary-color: #2980b9;
  --primary-color-dark: #2c89c6;
  --primary-color-light: #2677ac;
  --secondary-color: #06141c;
  --secondary-color-dark: #091c29;
  --secondary-color-light: #040b10;
  --primary-color-dark-d2: #2e8ece;
  --primary-color-dark-d4: #3493d2;
  --primary-color-dark-d5: #3896d3;
  --primary-color-dark-d7: #409ad5;
  --dark-color: #fff;
  --light-color: #363a3d;
  --gray-color: #737373;
  --gray-color-dark: #bfbfbf;
  --gray-color-light: #404040;
  --gray-color-dark-d10: #d9d9d9;
  --border-color: #595959;
  --border-color-dark: #737373;
  --border-color-light: #454545;
  --bg-color: #404040;
  --bg-color-dark: #474747;
  --bg-color-light: #363a3d;
  --success-color: #27ae60;
  --warning-color: #f39c12;
  --error-color: #e74c3c;
  --success-color-d2: #29b665;
  --success-color-d3: #2aba67;
  --success-color-d5: #2cc36b;
  --success-color-d7: #2ecb70;
  --success-color-d10: #36d278;
  --success-color-l53: #e9faf0;
  --warning-color-d2: #f3a01c;
  --warning-color-d3: #f4a221;
  --warning-color-d5: #f4a62a;
  --warning-color-d7: #f5aa34;
  --warning-color-d10: #f5b043;
  --warning-color-l53: white;
  --error-color-d2: #e85445;
  --error-color-d3: #e9594a;
  --error-color-d5: #ea6153;
  --error-color-d7: #eb695c;
  --error-color-d10: #ed7669;
  --error-color-l53: white;
  --code-color: #16a085;
  --highlight-color: #ffe9b3;
  --body-bg: #363a3d;
  --body-font-color: #f2f2f2;
  --link-color: #2980b9;
  --link-color-dark: #409ad5;
  --link-color-light: #20638f;
  --code-color-l42: black;
  --highlight-color-d15: white;
  --body-font-color-l5: #e6e6e6; }
