<!DOCTYPE html>
<html>

{{> _head title="Page not found" }}

<body>
    <div class="container grid-lg">
        <div class="col-6 col-mx-auto col-sm-12">
            <div class="card card-top-padding">
                <div class="card-header">
                    <div class="card-title h1">
                        <img src="/images/ascii-pay-logo-wide.svg">
                    </div>
                </div>
                <div class="card-body">
                    <h1>Page not found</h1>
                </div>
            </div>
        </div>
    </div>
</body>

</html>