<header class="navbar">
    <section class="navbar-section">
        <a href="/" class="btn btn-link{{#if (eq active "overview")}} active{{/if}}">Overview</a>
        <a href="/settings" class="btn btn-link{{#if (eq active "settings")}} active{{/if}}">Settings</a>
    </section>

    <section class="navbar-section">
        {{#if (ne logged_account.permission "DEFAULT")}}
        <a href="/admin" class="btn btn-link">Admin view</a>
        {{/if}}
        <span>{{logged_account.name}}</span>
        <a href="/logout" class="btn btn-link">Logout</a>
    </section>
</header>