<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X_UA_Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="icon" type="image/png" href="/favicon.png" sizes="32x32">

    <link rel='stylesheet' href='/stylesheets/spectre.min.css' type='text/css' />
    <link rel='stylesheet' href='/stylesheets/spectre-icons.min.css' type='text/css' />
    <link rel='stylesheet' href='/stylesheets/style.css' type='text/css' />

    <title>{{title}}</title>
</head>