<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X_UA_Compatible" content="IE=edge" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel='stylesheet' href='/stylesheets/spectre/spectre.css' type='text/css' />
    <link rel='stylesheet' href='/stylesheets/spectre/spectre-icons.css' type='text/css' />
    <link rel='stylesheet' href='/stylesheets/style.css' type='text/css' />
    <link rel='stylesheet' href='/stylesheets/style-{{theme}}.css' type='text/css' />

    <script src="/javascripts/main.js"></script>

    <link rel="icon" type="image/png" href="/images/favicon.png" />

    <title>ascii pay{{#if title}} - {{title}}{{/if}}</title>
</head>