<header class="navbar">
    <section class="navbar-section">
        <a href="/" class="btn btn-link{{#if (eq active "home")}} active{{/if}}">Dashboard</a>
        <a href="/accounts" class="btn btn-link{{#if (eq active "accounts")}} active{{/if}}">Accounts</a>
        <a href="/products" class="btn btn-link{{#if (eq active "products")}} active{{/if}}">Products</a>
        <a href="/categories" class="btn btn-link{{#if (eq active "categories")}} active{{/if}}">Categories</a>
    </section>
    <!--
    <section class="navbar-center">
        <a class="navbar-brand mr-2">asciipay</a>
    </section>
    -->
    {{#if logged_account}}
    <section class="navbar-section">
        <span>{{logged_account.name}}</span>
        <a href="/logout" class="btn btn-link">Logout</a>
    </section>
    {{/if}}
</header>