<!DOCTYPE html>
<html>

{{> _head title="Edit account" }}

<body>
    <div class="container grid-lg">
        {{> _navigation active="accounts" }}

        <h1>Edit account</h1>

        <form class="form-horizontal" method="POST">
            <input type="hidden" name="id" value="{{id}}" readonly/>
            <div class="form-group">
                <div class="col-3 col-sm-12">
                    <label class="form-label" for="name">Name</label>
                </div>
                <div class="col-9 col-sm-12">
                    <input class="form-input" type="text" name="name" value="{{name}}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-3 col-sm-12">
                    <label class="form-label" for="mail">Mail</label>
                </div>
                <div class="col-9 col-sm-12">
                    <input class="form-input" type="text" name="mail" value="{{mail}}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-3 col-sm-12">
                    <label class="form-label" for="credit">Credit</label>
                </div>
                <div class="col-9 col-sm-12">
                    <div class="input-group">
                        <input class="form-input" type="text" name="credit" value="{{currency credit}}" readonly />
                        <span class="input-group-addon">€</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-3 col-sm-12">
                    <label class="form-label" for="minimum_credit">Minimum credit</label>
                </div>
                <div class="col-9 col-sm-12">
                    <div class="input-group">
                        <input class="form-input" type="text" name="minimum_credit" value="{{currency minimum_credit}}" />
                        <span class="input-group-addon">€</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-3 col-sm-12">
                    <label class="form-label" for="permission">Permission</label>
                </div>
                <div class="col-9 col-sm-12">
                    <select class="form-select" name="permission">
                        <option value="DEFAULT" {{#if (eq permission "DEFAULT")}}selected="selected"{{/if}}>Default</option>
                        <option value="MEMBER" {{#if (eq permission "MEMBER")}}selected="selected"{{/if}}>Member</option>
                        <option value="ADMIN" {{#if (eq permission "ADMIN")}}selected="selected"{{/if}}>Admin</option>
                    </select>
                </div>
            </div>
            <div class="columns">
                <div class="column col-8 col-sm-12">
                    <input class="btn btn-primary" type="submit" value="Save" />
                    <a class="btn" href="/accounts">Cancel</a>
                </div>
                <div class="column col-ml-auto col-auto">
                    <a class="btn btn-error" href="/account/delete/{{id}}">Delete</a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>