<!DOCTYPE html>
<html>

{{> _head title="Dashboard" }}

<body>
    <div class="container grid-lg">
        {{> _admin_navigation active="dashboard" }}

        <h1>Admin Dashboard</h1>
    </div>
</body>

</html>