<!DOCTYPE html>
<html>

{{> _head title="Categories" }}

<body>
    <div class="container grid-lg">
        {{> _admin_navigation active="categories" }}

        <h1>Manage categories</h1>

        <div class="columns">
            <div class="column col-6 col-sm-12">
                <form method="GET">
                    <div class="input-group">
                        <input type="text" class="form-input" id="search-input" name="search" placeholder="Search..."
                            value="{{search}}">
                        <input type="submit" value="Search" class="btn btn-primary input-group-btn" />
                    </div>
                </form>
            </div>
            <div class="column col-auto col-ml-auto">
                <a class="btn" href="/admin/category/create">Create category</a>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="search-results">
                {{#each categories}}
                <tr>
                    <td>{{{name_search}}}</td>
                    <td>{{{current_price_search}}}</td>
                    <td>
                        <a href="/admin/category/{{id}}">Edit</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <script src="/javascripts/live_search_categories.js"></script>
</body>

</html>