<!DOCTYPE html>
<html>

{{> _head title="Create category" }}

<body>
    <div class="container grid-lg">
        {{> _navigation active="categorys" }}

        <h1>Edit category</h1>

        <form class="form-horizontal" method="POST">
            <input type="hidden" name="id" value="" readonly/>
            <input type="hidden" name="credit" value="0" readonly/>
            <div class="form-group">
                <div class="col-3 col-sm-12">
                    <label class="form-label" for="name">Name</label>
                </div>
                <div class="col-9 col-sm-12">
                    <input class="form-input" type="text" name="name" value=""/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-3 col-sm-12">
                    <label class="form-label">Prices</label>
                </div>
                <div class="col-9 col-sm-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Validity start</th>
                                <th>Price</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>
                                    <input class="form-input" name="price-date-create" type="date" value="1900-01-01" />
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input class="form-input money-input" name="price-value-create" type="text" value="0.00" />
                                        <span class="input-group-addon">€</span>
                                    </div>
                                </td>
                                <td>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <input class="btn btn-primary" type="submit" value="Create" />
            <a class="btn" href="/categorys">Cancel</a>
        </form>
    </div>
</body>
</html>