<!DOCTYPE html>
<html>

{{> _head title="Edit product" }}

<body>
    <div class="container grid-lg">
        {{> _navigation active="products" }}

        <div class="columns">
            <div class="column col-6 col-sm-12">
                <h1>Edit product</h1>
            </div>
            <div class="column col-auto col-ml-auto">
                <a class="btn" href="/product/create">Create product</a>
            </div>
        </div>

        <form class="form-horizontal" method="POST">
            <input type="hidden" name="id" value="{{product.id}}" readonly/>
            <div class="form-group">
                <div class="col-3 col-sm-12">
                    <label class="form-label" for="name">Name</label>
                </div>
                <div class="col-9 col-sm-12">
                    <input class="form-input" type="text" name="name" value="{{product.name}}"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-3 col-sm-12">
                    <label class="form-label" for="category">Category</label>
                </div>
                <div class="col-9 col-sm-12">
                    <select class="form-select" name="category">
                        <option value="" selected>---</option>
                        {{#each categories}}
                            <option value="{{id}}" {{#if (eq @root.product.category.id id)}}selected{{/if}}>{{name}}{{#if current_price}} - ({{currency current_price}}€){{/if}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-3 col-sm-12">
                    <label class="form-label" for="barcode">Barcode</label>
                </div>
                <div class="col-9 col-sm-12">
                    <input class="form-input barcode-target" type="text" name="barcode" value="{{product.barcode}}"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-3 col-sm-12">
                    <label class="form-label">Prices</label>
                </div>
                <div class="col-9 col-sm-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Validity start</th>
                                <th>Price</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each product.prices}}
                            <tr>
                                <td>
                                    
                                    <input class="form-input" type="date" value="{{validity_start}}" readonly />
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input class="form-input money-input" type="text" value="{{currency value}}" readonly />
                                        <span class="input-group-addon">€</span>
                                    </div>
                                </td>
                                <td>
                                    <label class="form-checkbox is-error">
                                        <input type="checkbox" name="delete-price-{{@index}}">
                                        <i class="form-icon"></i>
                                    </label>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>
                                    <input class="form-input" name="price-date-create" type="date" value="1900-01-01" />
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input class="form-input money-input" name="price-value-create" type="text" value="0.00" />
                                        <span class="input-group-addon">€</span>
                                    </div>
                                </td>
                                <td>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="columns">
                <div class="column col-8 col-sm-12">
                    <input class="btn btn-primary" type="submit" value="Save" />
                    <a class="btn" href="/products">Cancel</a>
                </div>
                <div class="column col-ml-auto col-auto">
                    <!-- <a class="btn btn-error" href="/product/delete/{{product.id}}">Delete</a> -->
                </div>
            </div>
        </form>

        <div class="divider text-center" data-content="OR"></div>

        <form class="form-horizontal" method="POST" enctype="multipart/form-data" action="/product/upload-image/{{product.id}}">
            <div class="form-group">
                <div class="col-3 col-sm-12">
                    <label class="form-label" for="image" >Image</label>
                </div>
                <div class="col-3 col-sm-12">
                    {{#if product.image}}
                    <img class="img-responsive" src="/product/image/{{product.image}}" />
                    {{/if}}
                </div>
            </div>
            <div class="form-group">
                <div class="col-3 col-sm-12">
                    <label class="form-label" for="image" >Upload new image</label>
                </div>
                <div class="col-9 col-sm-12">
                    <input class="form-input" type="file" accept="image/*" name="image"/>
                </div>
            </div>

            <div class="columns">
                <div class="column col-8 col-sm-12">
                    <input class="btn btn-primary" type="submit" value="Upload" />
                </div>
                <div class="column col-ml-auto col-auto">
                    <a class="btn btn-error" href="/product/remove-image/{{product.id}}">Remove image</a>
                </div>
            </div>
        </form>
    </div>

    <script src="/javascripts/set_product_barcode.js"></script>
</body>
</html>