<!DOCTYPE html>
<html>

{{> _head title="Products" }}

<body>
    <div class="container grid-lg">
        {{> _navigation active="products" }}

        <h1>Manage products</h1>

        <div class="columns">
            <div class="column col-6 col-sm-12">
                <form method="GET">
                    <div class="input-group">
                        <input type="text" class="form-input" id="search-input" name="search" placeholder="Search..." value="{{search}}">
                        <input type="submit" value="Search" class="btn btn-primary input-group-btn" />
                    </div>
                </form>
            </div>
            <div class="column col-auto col-ml-auto">
                <a class="btn" href="/product/create">Create product</a>
            </div>
        </div>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th style="width: 1.8rem;"></th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="search-results">
                {{#each products}}
                <tr>
                    <td>
                        {{#if image}}
                        <img class="img-responsive" src="/product/image/{{image}}" />
                        {{/if}}
                    </td>
                    <td>{{{name_search}}}</td>
                    <td>{{{category_search}}}</td>
                    <td>{{{current_price_search}}}</td>
                    <td>
                        <a href="/product/{{id}}">Edit</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <script src="/javascripts/live_search_products.js"></script>
</body>
</html>