<!DOCTYPE html>
<html>

{{> _head title="Revoke password" }}

<body>
    <div class="container grid-lg">
        <div class="col-6 col-mx-auto col-sm-12">
            <div class="card">
                <div class="card-header">
                <div class="card-title h1">
                    <img src="/images/ascii-pay-logo-wide.svg">
                </div>
                </div>
                <form method="POST">
                    <div class="card-body">
                        After you revoke the nfc card you cannot pay with this card anymore. Are you sure?
                        <div class="form-group">
                            <label class="form-switch">
                                <input type="checkbox" name="revoke">
                                <i class="form-icon"></i> Allow revoke of nfc card
                              </label>
                        </div>
                    </div>
                    <div class="card-footer">
                        <input class="btn btn-error" type="submit" value="Revoke nfc card" />
                        <a class="btn" href="/settings">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>